.wrapper {
  width: 100vw;
  padding: 30px 0;
  background-color: $backgroundColor;
  @include flexCenter();
}

.signup-wrapper {
  height: 100%;
}

.login-wrapper {
  height: 100vh;
}

.form {
  position: relative;
  width: 100%;
  @include borderIt($num1, $num2);
  background-color: #fff;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.login-form {
  max-width: 380px;
  height: 75%;
  padding-top: 60px;
}

.signup-form {
  max-width: 450px;
  height: 100%;
  padding: 60px 20px 30px 20px;
}
